body
{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f4f4f4;
}

/*global*/
.container
{
    width: 80%;
    margin:auto;
    overflow: hidden;
}

ul
{
    padding:0; 
    margin: 0;
    list-style: none;
}

.button_1
{
    height: 38px;
    border:0;
    background-color:#e8491d ;
    color: white;
    padding:0 20px 0 20px;
}

.dark
{
    background: #35424a;
}

/* header */
header
{
    background:#35424a;;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}

header a
{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}


header li
{
    float:left;
    display: inline;
    padding: 0 20px 0 20px;
}

header #branding 
{
    float:left;
}

header #branding h1
{
    margin:0;
}

header nav
{
    float: right;
    margin-top: 10px;
}

header .highlight , header .current
{
    color:#e8491d;
    font-weight: bold;
}

header a:hover
{
    color:#cccccc;
    font-weight:bold;
}

/* section */
#showcase
{
    min-height: 400px;
    text-align: center;
    color:white;
    background:url(../images/showcase.jpg);
}

#showcase h1
{
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}
 #showcase p
 {
     font-size: 18px;
 }

 /* newsletter */
 #newsletter
 {
    padding:10px;
    background-color: #35424a;
    color:white;
}

#newsletter h1
{
    float:left;
}

#newsletter form
{
    float:right;
    margin-top: 23px;
}

#newsletter input[type="email"]
{
    width: 250px;
    height:25px;
    padding:4px;
    border: 0;
}

/* boxes */
#boxes
{
    margin-top:20px;
}
#boxes .box
{
    float:left;
    width:30%;
    padding: 5px;
    text-align: center;
}
#boxes .box img
{
    height:120px;
}



/* main-col */
#main #main-col
{
    float:left;
    padding: 10px;
    width:65%;
    margin-bottom: 100px;
}

/* sidebar */
#main #sidebar
{
    margin-top: 10px;
    padding-top: 15px;
    float:right;
    text-align: center;
    width:30%;
    color: white;
    padding-bottom: 15px;
    background-color: #35424a;
} 
#main #sidebar h3{
    text-transform: uppercase;
    font-family: cursive;
}
#main #sidebar input,#main #sidebar textarea
{
    padding:5px;
    width:90%;
}
/* service list*/

#services li
{
    width: 60%;
    /* padding:0px; */
    margin-bottom: 5px;
    border: #cccccc solid 1px;
    background-color: #e6e6e6;
}

/* footer */
footer
{
    margin-top: 20px;
    padding:20px;
    background-color: #e8491d;
    color: white;
    text-align: center;
}

/* media query */
@media(max-width:768px)
{
    header #branding, header nav,header nav li,#newsletter h1,#newsletter form,#boxes .box,#main #main-col,#main #sidebar
    ,#main-col #services li
    {
        float:none;
        text-align: center;
        justify-content: center;
        align-items: center;
        /* display: flex; */
        flex-direction: column;
        width: 100%;
    }



    #showcase h1{
        font-size: 40px;
        /* width:30px; */
    }

    p
    {
        text-align: center;
        align-items: center;
        padding:10px;
        width: 90%;
        /* color: red; */
    }
    .container
    {
        width:100%;
    }
    header
    {
        padding-bottom: 20px;
    }
    #showcase h1
    {
        margin-top: 40px;
    }
    #newsletter form input[type="email"]
    {
        width: 100%;
        margin-bottom: 5px;
    }
    #newsletter button
    {
        display: block;
        width: 100%;
    }
    #main #main-col
    {
        margin-bottom: 60px;
        /* width: 100%; */
    }
}
